:root {
  --bg-color: #202020;
  --text-color: white;
  --primary-color: #D9D9D9;
  --hover-color: black;
  --link-hover-color: #7c7775;
  --middle-bg: #E8CCED;
  --heading-color: #3B3B3B;
  --h3-color: #D9D9D9;

  --font-mono: monospace;
  --font-handwriting: 'Lucida Handwriting', cursive;
}

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-mono);
  font-size: 24px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

a:hover {
  color: var(--link-hover-color);
}
.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 5%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  font-family: var(--font-mono);
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.round-button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.round-button a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.round-button a:hover {
  color: var(--link-hover-color);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-color);
}

.middle {
  background-color: var(--middle-bg);
  padding: 20px;
  border-radius: 0; /* None */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}
h1 {
  font-family: var(--font-handwriting);
  font-size: 42px;
  color: var(--heading-color);
}

h2 {
  font-family: var(--font-mono);
  font-size: 30px;
  color: var(--heading-color);
}

h3 {
  font-family: var(--font-mono);
  font-size: 25px;
  color: var(--h3-color);
}
#skills {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 15px;
  color: var(--heading-color);
}

#skills h2 {
  text-align: center;
  margin-bottom: 25px;
}

#skills h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

#skills p {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1.6;
}
